<div>
  <div class="col-header">
    <h2>Do not…</h2>
  </div>
  <ul>
    {{- listItem ({
      verb: 'Do not',
      content: "use decimals unless it's money.",
      svg: 'do-not-1.svg.njk'
    }) -}}
    {{- listItem ({
      verb: 'Do not',
      content: 'overwhelm people with too much content.',
      svg: 'do-not-2.svg.njk'
    }) -}}
    {{- listItem ({
      verb: 'Do not',
      content: 'expect users to repeat or remember numbers.',
      svg: 'do-not-3.svg.njk'
    }) -}}
    {{- listItem ({
      verb: 'Do not',
      content: 'use tables or grids without explaining what the numbers mean.',
      svg: 'do-not-4.svg.njk'
    }) -}}
    {{- listItem ({
      verb: 'Do not',
      content: 'rush users to enter numbers accurately.',
      svg: 'do-not-5.svg.njk'
    }) -}}
    {{- listItem ({
      verb: 'Do not',
      content: 'force people to enter a number or do a sum to verify themselves.',
      svg: 'do-not-6.svg.njk'
    }) -}}
  </ul>
</div>