<div>
  <div class="col-header">
    <h2>
      Do…
    </h2>
  </div>

  <ul>
    {{- listItem ({
      verb: 'Do',
      content: 'round numbers up to the nearest whole number.',
      svg: 'do-1.svg.njk'
    }) -}}
    {{- listItem ({
      verb: 'Do',
      content: 'leave space around numbers.',
      svg: 'do-2.svg.njk'
    }) -}}
    {{- listItem ({
      verb: 'Do',
      content: 'fill in the information you already have.',
      svg: 'do-3.svg.njk'
    }) -}}
    {{- listItem ({
      verb: 'Do',
      content: 'use sentences to add context about numbers.',
      svg: 'do-4.svg.njk'
    }) -}}
    {{- listItem ({
      verb: 'Do',
      content: 'let people include spaces when entering numbers.',
      svg: 'do-5.svg.njk'
    }) -}}
    {{- listItem ({
      verb: 'Do',
      content: 'user research with people who struggle with numbers.',
      svg: 'do-6.svg.njk'
    }) -}}
  </ul>
</div>