<footer class="footer">
  <figure class="footer__logo footer__logo--dwp">
    {%- include '../svg/logo-dwp-digital.svg.njk' -%}
  </figure>
  <figure class="footer__logo footer__logo--ccdd">
    {%- include '../svg/logo-dylexia-dyspraxia-network.svg.njk' -%}
  </figure>
  <p>
    <h2>Credits</h2>
    <p>
      Poster designed and created by:
      <a href="https://twitter.com/mcfadyen_jane">Jayne McFayden</a> and 
      <a href="https://twitter.com/LauraParkerUX">Laura Parker</a>.<br>
      HTML version developed by: <a href="https://twitter.com/abbott567">Craig Abbott</a>.
    </p>
    <p>
      You can:
    </p>
    <ul>
       <li><a href="https://github.com/abbott567/dyscalculia-poster#user-content-research-which-informed-this-poster">read the research</a></li>
       <li><a href="https://github.com/abbott567/dyscalculia-poster">get the source code on GitHub</a></li>
    </ul>
  </p>
</footer>