<footer class="footer">
  <figure class="footer__logo footer__logo--dwp">
    {%- include '../svg/logo-dwp-digital.svg.njk' -%}
  </figure>
  <figure class="footer__logo footer__logo--ccdd">
    {%- include '../svg/logo-dylexia-dyspraxia-network.svg.njk' -%}
  </figure>
  <p>
    <h2>Credits</h2>
    <p>
      This poster was designed and created by:
    </p>
    <ul>
      <li>
        <a href="https://twitter.com/mcfadyen_jane">Jane McFadyen</a>
      </li>
      <li>
        <a href="https://twitter.com/LauraParkerUX">Laura Parker</a>
      </li>
      <li>
        <a href="https://twitter.com/GirlCalledMalic">Rachel Malic</a>
      </li>
    </ul>
    <p>
      Thank you to:
    </p>
    <ul>
      <li>
        Ollie Sweetman and the Civil Service Dyslexia and Dyspraxia Network
      </li>
      <li>
        <a href="https://www.dyscalculianetwork.com">Dyscalcula Network</a> for consulting on the poster
      </li>
      <li>
        <a href="https://www.nationalnumeracy.org.uk">National Numeracy</a> for reviewing the poster
      </li>
      <li>
        <a href="https://www.plainnumbers.org.uk">Plain Numbers</a> for reviewing the poster
      </li>
      <li>
        The people who attended our focus group helping to shape the poster
      </li>
    </ul>
    <p>
      This HTML version of the poster was developed by: <a href="https://twitter.com/abbott567">Craig Abbott</a>.
    </p>
      You can:
    <ul>
       <li><a href="https://github.com/abbott567/dyscalculia-poster#user-content-research-which-informed-this-poster">read the research which informed the poster</a></li>
       <li><a href="https://github.com/abbott567/dyscalculia-poster">get the source code on GitHub</a></li>
    </ul>
  </p>
</footer>