<header class="header">
  <div>
    <h1>
      Designing for users with dyscalculia or low numeracy skills
    </h1>
  </div>
  <div class="header__logo">
    {%- include '../svg/logo-header.svg.njk' -%}
  </div>
</header>